/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
#test {
	    /*准备一个长200px 宽200px的div，背景设置成黄色*/
	    background-color: rgba(240, 255, 255, 0.5);
	    width: 350px;
	    height: 130px;
	    padding: 13px;
 
	    position: absolute;
	    left: 50%;
	    top: 65%;
	    margin-left: -200px;
	    margin-top: -200px;
	    border-radius: 10px;
   		text-align: center;
	    /*下面是核心代码*/
	}