<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webcloud.dao.ManageMapper" >
  <resultMap id="BaseResultMap" type="com.webcloud.entity.Manage" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <id column="gid" property="gid" jdbcType="INTEGER" />
    <result column="managerauth" property="managerauth" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, gid, managerauth
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.webcloud.entity.ManageKey" >
    select 
    <include refid="Base_Column_List" />
    from manage
    where uid = #{uid,jdbcType=INTEGER}
      and gid = #{gid,jdbcType=INTEGER}
  </select>
  
  <!-- 根据用户id选择 -->
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manage
    where uid = #{uid}
  </select>
  
  <!-- 根据群id选择 -->
  <select id="selectByGid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manage
    where gid = #{gid}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.webcloud.entity.ManageKey" >
    delete from manage
    where uid = #{uid,jdbcType=INTEGER}
      and gid = #{gid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.webcloud.entity.Manage" >
    insert into manage (uid, gid, managerauth
      )
    values (#{uid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{managerauth,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.webcloud.entity.Manage" >
    insert into manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="managerauth != null" >
        managerauth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="managerauth != null" >
        #{managerauth,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.webcloud.entity.Manage" >
    update manage
    <set >
      <if test="managerauth != null" >
        managerauth = #{managerauth,jdbcType=DECIMAL},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
      and gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.webcloud.entity.Manage" >
    update manage
    set managerauth = #{managerauth,jdbcType=DECIMAL}
    where uid = #{uid,jdbcType=INTEGER}
      and gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>